extends layout

block content
    form(action=s3url, method="post", enctype="multipart/form-data" class="form-horizontal")
        each key in s3fields
            input(type="hidden" name=key.name, value=key.value)

        div(class="form-group")
            label(for="x-amz-meta-task" class="col-sm-2 control-label") New size (percent)
            div(class="col-sm-10")
                input(type="number" name="x-amz-meta-task" id="x-amz-meta-task" min="1" max="200" value="50")

        div(class="form-group")
            label(for="file" class="col-sm-2 control-label") Rescaled file
            div(class="col-sm-10")
                input(type="file" name="file" id="file")

        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                input(type="submit" name="submit" value="Submit")