body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    width: 200px;
}

#s3form {
    display: flex;
    flex-flow: column;
}

#s3form > #percentage {
    order: 2;
}

#s3form > #given {
    order: 1;
}

#s3form > #go {
    order: 3;
}

.breakable {
    word-wrap: break-word;
    word-break: break-all;
}

.slider-horizontal {
    width: 100% !important;
}
