doctype html
html(lang="en")
    head
        block title
            title ImreC


        meta(charset="utf-8")
        block meta

        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="stylesheet" href="/stylesheets/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        block link

        script(src="https://code.jquery.com/jquery-1.12.3.min.js")
        script(src="/javascripts/script.js")
            block script

    body
        block content